<%= form_for(@blog, url: choose_new_or_edit) do |f| %>

  <!-- バリデーションエラーの件数表示するよ dive02 -->
  <!-- #  <% if @blog.errors.any? %> -->
  <!-- #        <div id="error_explanation"> -->
                  <!-- @blog.errorsはバリデーションした際のエラー情報です dive02 -->
                  <!-- @full_messagesは複数のエラーメッセージを表示します dive02 -->
  <!-- #            <h2><%= @blog.errors.count %>件のエラーがあります。</h2> -->
  <!-- #            <ul> -->
  <!-- #                <% @blog.errors.full_messages.each do |msg| %> -->
  <!-- #                <li><%= msg %></li> -->
  <!-- #                <% end %> -->
  <!-- #            </ul> -->
  <!-- #        </div> -->
  <!-- #    <% end %> -->

  <!-- 上記のエラーメッセージを削除して、書き換えたよ。dive13 -->
  <%= f.error_messages! %>

  <!-- bootstrapのクラスをつけるよ。dive04 -->
  <% if current_page?(action: 'new') %>
                <div class="user-avatar">
                  <span>以下のフォームから新しい記事を投稿しましょう。</p>
                </div>
  <% else %>
                <div class="user-avatar">
                  <span>ユーザーID：<%= @blog.user_id %>&nbsp;&nbsp;ユーザー名：<%= @blog.user.name %>&nbsp;&nbsp;ユーザー画像：</span>
                  <% if @blog.user.avatar? %>
                    <%= image_tag(@blog.user.avatar) %>
                  <% elsif !@blog.user.image_url? %>
                    <%= image_tag('no_image.png') %>
                  <% else %>
                    <%= image_tag(@blog.user.image_url) %>
                  <% end %>
                </div>
  <% end %>


  <!-- <%= f.label :title %> -->
  <p>記事タイトル：<%= f.text_field :title, class: 'form-control' %></p>
  <!-- <%= f.label :content %> -->
  <p>記事本文：<%= f.text_field :content, class: 'form-control' %></p>
  <%= f.submit "記事を投稿する", class: 'btn btn-block btn-success' %>
<% end %>

<br><br><br><br>
<!-- bootstrapのクラスをつけるよ。dive04 -->
<%= link_to "記事一覧画面に戻る", blogs_path, class: 'btn btn-default btn-block' %>
