<div class="container">
     <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
        <p id="notice"><%= notice %></p>
        <h1>ブログ記事 一覧</h1>
            <%= link_to "記事を作成する", new_blog_path, class: 'btn btn-block btn-md' %>

        <% @blogs.reverse_each do |blog| %>
            <div class="row">
                <!-- dive09課題で追記したよ。dive14でプロフィール画像を追加したよ。 -->
                <h4><strong><%= blog.title %></strong></h4>
                <div class="user-avatar">
                  <span>ユーザーID：<%= blog.user_id %>&nbsp;&nbsp;ユーザー名：<%= blog.user.name %>&nbsp;&nbsp;ユーザー画像：</span>
                  <% if blog.user.avatar? %>
                    <%= image_tag(blog.user.avatar) %>
                  <% elsif !blog.user.image_url? %>
                    <%= image_tag('no_image.png') %>
                  <% else %>
                    <%= image_tag(blog.user.image_url) %>
                  <% end %>
                </div>
                <p><%= blog.content %></p>
                <!-- dive14kadaiで補足修正したよ。 -->
                <% if blog.user_id == current_user.id %>
                  <%= link_to "記事を編集する", edit_blog_path(blog.id), class: 'btn btn-default btn-sm btn-primary' %>
                  <%= link_to "記事を削除する", blog_path(blog.id), method: :delete, data: { confirm: '本当に削除してよいですか？' }, class: 'btn btn-default btn-sm btn-danger' %> <!-- dive02で追記したよ-->
                <% else %>
                  <span>（非認証）</span>
                <% end %>
            </div>
        <% end %>
    </div>
</div>

<div id="page-top-btn2" class="page-top-btn2">    <!-- dive04で追記したよ。 -->
    <p><a id="move-page-top" class="move-page-top">▲</a></p>
</div>