<div class="container">    <!-- 確認画面を作るよ dive03 -->
    <div class="wrapper col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
        <p id="notice"><%= notice %></p>
        <h1>投稿画像 確認画面</h1>
        <h3>以下の内容で作成しますか？</h3>

        <%= form_for(@picture) do |f| %>
            <!-- バリデーションエラーの件数表示するよ dive02 →確認画面では要らないかも。。。 -->
            <% if @picture.errors.any? %>
                <div id="error_explanation">
                            <!-- @picture.errorsはバリデーションした際のエラー情報です dive02 -->
                            <!-- @full_messagesは複数のエラーメッセージを表示します dive02 -->
                    <h2><%= @picture.errors.count %>件のエラーがあります。</h2>
                    <ul>
                        <% @picture.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                        <% end %>
                    </ul>
                </div>
            <% end %>
        
            <!-- <%= f.label :title %> -->
            <p>タイトル：<%= @picture.title %></p>
            <%= f.hidden_field :title %>
            <!-- <%= f.label :content %> -->
            <!-- <p>記事本文：<%= @picture.content %></p> -->
            <div class="field">
                <p>画像：(まだ投稿されていません)</p>
                <%= insta_img(@picture) if insta_img(@picture) %>
                <%= f.hidden_field :pic_cache %>
                <!-- <%= f.hidden_field :content %> -->
            </div>
            <%= f.submit "投稿を作成する", class: 'btn btn-default btn-md btn-success' %>
        <% end %>

        <br><br><br><br>
        <!-- <%= link_to "[ 投稿画像一覧画面に戻る ]", :back %> -->
            <!-- pictures_pathから、:back へ変更したよ。dive03 -->
            <!-- だけど、前画面に戻ると、パラメータが初期されて戻ってしまうので、form_forを使う必要がある
            (link_toでは、「デフォルトのHTTPメソッドがget」であるためcontrollerにパラメータを渡せない)ので、
            link_toから、form_forへ書き換えます。dive03 -->
        
        <%= form_for(@picture, url: new_picture_path, method: 'get') do |f| %>
            <%= f.hidden_field :title %>
            <!--<%= f.hidden_field :content %>-->
            <%= f.submit "投稿画像入力画面に戻る", name: 'back', class: 'btn btn-default btn-md' %>
                <!-- 前画面に戻るときに、パラメータ保持で戻りたいので、「name: 'back'」とname属性を追記したよ。dive03 -->
        <% end %>
    </div>
</div>